clientId=""
clientSecret=""
# development_webhook="https://webhook.site/8846b1ba-994b-4256-a9e3-1f502dcf2569"
# production_webhook="https://dreammypic.com/runpod/webhook"
runpod_api="https://api.runpod.ai/v2/text-code/"
runpod_secret_key=""
Environment=DEVELOPMENT # DEVELOPMENT PRODUCTION
# Environment=PRODUCTION # DEVELOPMENT PRODUCTION
PORT=5005
development_runpod_webhook="https://dear-dove-talented.ngrok-free.app/api/runpod/webhook"
production_runpod_webhook="https://dreammypic.com/api/runpod/webhook"
razorpay_key_id=""
razorpay_key_secret=""
imageGenerationrateRate=3
additionalImageGenerationRate=1

DATABASE_URL=""